.content-listing {
    border-radius: 1rem;
}

/* .content-listing > :first-child > .fa {
    transform: rotate(45deg);
    transform-origin: 0 0;
} */

.content-listing.small-content > div {
    font-size: .875em;
}

.clip-text-gradient .content-listing span {
    opacity: 1 !important;
}