.featured-types .box {
    box-shadow: 0 0 20px 0 rgb(112 112 138 / 18%);
}

.featured-types img {
    --_measure: 4.0625rem;
    width: var(--_measure);
    height: var(--_measure);
    filter: saturate(0%);
}

@media screen and (min-width: 768px) {
    .featured-types img {
        --_measure: 6rem;
    }
}