.hero {
    min-height: 90vh;
    min-height: 90dvh;
    background-image: url("../../../../public/images/Bedroom_image2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* border-radius: 1.5rem; */
    overflow: hidden;
}

.hero h1,
.hero h1 {
    color: var(--bs-light);
    font-weight: bolder;
    filter: drop-shadow(0 0 .25rem var(--black2));
}

.hero p {
    clip-path: polygon(1rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0 100%, 0 1rem);
    animation: flyInBottom .6s 1;
}

.hero .container {
    padding-top: 30%;
}

@media screen and (min-width: 576px) {
    .hero .container {
        padding-top: 5%;
    }
}

@media screen and (max-width: 576px) {
    .hero .container {
        padding-inline: .25rem;
    }
}

.hero input::placeholder {
    color: inherit;
}

.hero input,
.hero .search-input,
.hero select,
.hero .confirm-search {
    border-radius: 100vw;
    border-radius: 100dvw;
    border: 1.5px solid var(--bs-gray-400) !important;
    color: var(--bs-gray-600);
    font-size: small;
    padding-inline: 1rem !important;
}

.hero .search-input {
    padding: 0 !important;
    border: none !important;
}

.hero .search-input input {
    width: 100%;
    border: none;
    padding-block: .5rem;
    padding-inline: 1rem;
    background-color: transparent;
}

.hero .confirm-search {
    border: 1.5px solid var(--primaryColor) !important;
    padding-inline: 2rem !important;
}

@media screen and (min-width: 1200px) {
    .hero .confirm-search {
        border: none;
        align-self: last baseline;
        margin-bottom: .45rem !important;
    }
}

.hero select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

.property-filter {
    border-radius: 1rem;
}

@media screen and (min-width: 768px) {
    .property-filter {
        border-radius: 0;
    }

    .property-filter::before {
        opacity: .25;
        content: "";
        position: absolute;
        top: -1.25rem;
        left: -1.25rem;
        right: -1.25rem;
        bottom: -1.25rem;
        z-index: -1;
        background-image: repeating-linear-gradient(45deg, var(--white2), var(--white2) .25rem, transparent .25rem, transparent .5rem);
        transition: .3s ease-in-out;
        z-index: -1;
    }

    .property-filter:focus-within::before {
        opacity: 1;
        background-image: repeating-linear-gradient(45deg, var(--bodi), var(--bodi) .25rem, transparent .25rem, transparent .5rem);
    }
}

@media screen and (min-width: 1200px) {
    .property-filter::before {
        top: -1.875rem;
        left: -1.875rem;
        right: -1.875rem;
        bottom: -1.875rem;
    }
}