.hero {
    min-height: 90vh;
    min-height: 90dvh;
    background-image: url("../../../../public/images/Bedroom_image2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* border-radius: 1.5rem; */
    overflow: hidden;
}

.hero h1,
.hero h1 {
    color: var(--bs-light);
    font-weight: bolder;
    filter: drop-shadow(0 0 .25rem var(--black2));
}

.hero p {
    clip-path: polygon(1rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0 100%, 0 1rem);
    /* border-radius: 1.5rem 0 1.5rem 0; */
    animation: bounceElem 1s 1;
}

.hero .container {
    padding-top: 30%;
}

@media screen and (min-width: 576px) {
    .hero .container {
        padding-top: 5%;
    }
}

@media screen and (max-width: 576px) {
    .hero .container {
        padding-inline: .25rem;
    }
}

.hero input::placeholder {
    color: inherit;
}

.hero input,
.hero select,
.hero .confirm-search {
    border-radius: 100vw;
    border-radius: 100dvw;
    border: 1.5px solid var(--bs-gray-400) !important;
    color: var(--bs-gray-600);
    font-size: small;
    padding-inline: 1rem !important;
}

.hero .confirm-search {
    border: 1.5px solid var(--primaryColor) !important;
    padding-inline: 2rem !important;
}

@media screen and (min-width: 1200px) {
    .hero .confirm-search {
        border: none;
        align-self: last baseline;
        margin-bottom: .45rem !important;
    }
}

.hero select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

.property-filter {
    border-radius: 1rem;
}