.price .box {
    transition: var(--trans);
}

.price .box:hover {
    scale: 0.97;
    box-shadow: 0 0 1rem rgb(112 121 138 / 18%);
    box-shadow: 0 2rem 4rem var(--black3);
}

.price .box ul li > label {
    padding: 0;
    width: 1.7rem;
    height: 1.7rem;
    display: grid;
    place-items: center;
}